<!-- save.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<h1>Create Post</h1>
<form action="/board/save" method="post">
    <label>Title: <input type="text" name="title"></label><br>
    <label>Content: <textarea name="content"></textarea></label><br>
    <li><a href="http://localhost:63343/timecapsule/timecapsule.main/templates/detail.html?_ijt=7nk75lae8juqc7nrc705k7kcjp">save</a></li>

</form>
</body>
</html>
